@using WebClient.Common
@using WebClient.Models
@model MainViewModel;

@{
	var defaultTypeTitles = new Dictionary<MessageType, string>
	{
		{ MessageType.Success, "Exito!" },
		{ MessageType.Error, "Error!" },
		{ MessageType.Warning, "Alerta!" },
		{ MessageType.Information, "Información!" }
	};

	var messageTypeIcons = new Dictionary<MessageType, string>
	{
		{ MessageType.Success, "success-icon fas fa-circle-check" },
		{ MessageType.Error, "error-icon fas fa-circle-xmark" },
		{ MessageType.Warning, "warning-icon fas fa-circle-exclamation" },
		{ MessageType.Information, "information-icon fas fa-circle-info" }
	};
}
@* modal error *@
@if (Model.Messages.Count > 0)
{
	<div id="modal-error" class="modal-overlay @(Model.Messages.Count > 0 ? "" : "modal-hidden")">
		<div class="custom-modal">

			<div class="custom-modal-header">
				<h5 class="mb-0">
					@defaultTypeTitles[Model.Messages.FirstOrDefault()?.Type ?? MessageType.Information]
				</h5>
				<button type="button" class="custom-close-btn" onclick="this.closest('#modal-error').classList.add('modal-hidden')">
					&times;
				</button>
			</div>

			<div class="custom-modal-body" id="modalContent">
				@foreach (var mensaje in Model.Messages)
				{
					<div class="temp-message-dialog-content mb-2">
						<i class="@messageTypeIcons[mensaje.Type] viewer-icon"></i>
						<div>@mensaje.Message</div>
					</div>
				}
			</div>

			<div class="custom-modal-footer"></div>

		</div>
	</div>
}

<div id="modal-alert" class="modal-overlay modal-hidden">
	<div class="custom-modal">
		<div class="custom-modal-header">
			<h5 class="mb-0" id="modal-title"></h5>
			<button id="btn-alert-cerrar" type="button" class="custom-close-btn">
				&times;
			</button>
		</div>
		<div class="custom-modal-body" id="modal-content"></div>
		<div class="custom-modal-footer"></div>
	</div>
</div>

<script>
	const alerta = document.getElementById('modal-alert');
	const closeButtonAlert = document.getElementById('btn-alert-cerrar');

	closeButtonAlert.addEventListener('click', () => {
		CerrarModal();
	});

	function CerrarModal(){
		alerta.classList.add('hidden');
	}

	function AbrirModal(){
		alerta.classList.remove('hidden');
	}

	function LimpiarAlerta() {
		const titleElement = document.getElementById('modal-title');
		const contentElement = document.getElementById('modal-content');

		if (titleElement) titleElement.innerHTML = '';
		if (contentElement) contentElement.innerHTML = '';
	}

	function loadTempMessageDialogContent(title, message, icon) {
		LimpiarAlerta();

		const contentTemplate = `
			<div class="temp-message-dialog-content flex items-center gap-[11px]">
				<i class='viewer-icon ${icon}'></i>
				<div class="message-content">${message}</div>
			</div>`;

		const titleElement = document.getElementById('modal-title');
		const contentElement = document.getElementById('modal-content');

		if (titleElement) titleElement.innerHTML = title;
		if (contentElement) contentElement.innerHTML = contentTemplate;
	}


	function showTempMessageDialog() {
		AbrirModal();
	}

	function showSuccessMessage(message, title = "@defaultTypeTitles[MessageType.Success]") {
		loadTempMessageDialogContent(title, message, "@messageTypeIcons[MessageType.Success]");
		showTempMessageDialog();
	}

	function showInformationMessage(message, title = "@defaultTypeTitles[MessageType.Information]") {
		loadTempMessageDialogContent(title, message, "@messageTypeIcons[MessageType.Information]");
		showTempMessageDialog();
	}

	function showWarningMessage(message, title = "@defaultTypeTitles[MessageType.Warning]") {
		loadTempMessageDialogContent(title, message, "@messageTypeIcons[MessageType.Warning]");
		showTempMessageDialog();
	}

	function showErrorMessage(message, title = "@defaultTypeTitles[MessageType.Error]") {
		loadTempMessageDialogContent(title, message, "@messageTypeIcons[MessageType.Error]");
		showTempMessageDialog();
	}

	window.showSuccessMessage = showSuccessMessage;
	window.showInformationMessage = showInformationMessage;
	window.showWarningMessage = showWarningMessage;
	window.showErrorMessage = showErrorMessage;
</script>