@using WebClient.Common
@using WebClient.Models
@model MainViewModel

@{
	var defaultTypeTitles = new Dictionary<MessageType, string>
	{
		{ MessageType.Success, "¡Éxito!" },
		{ MessageType.Error, "Error" },
		{ MessageType.Warning, "Alerta" },
		{ MessageType.Information, "Información" }
	};

	var messageTypeIcons = new Dictionary<MessageType, string>
	{
		{ MessageType.Success, "bi bi-check-circle-fill text-success" },
		{ MessageType.Error, "bi bi-x-circle-fill text-danger" },
		{ MessageType.Warning, "bi bi-exclamation-triangle-fill text-warning" },
		{ MessageType.Information, "bi bi-info-circle-fill text-primary" }
	};
}

<div class="modal fade" id="modal-alert" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-md">
		<div class="modal-content border-0 shadow-sm">

			<div class="modal-header py-2">
				<h6 class="modal-title d-flex align-items-center gap-2" id="modal-title"></h6>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<div class="modal-body py-3" id="modal-content"></div>

			<div class="modal-footer py-2">
				<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
					Cerrar
				</button>
			</div>

		</div>
	</div>
</div>

<script>
	function showSuccessMessage(message, title = "@defaultTypeTitles[MessageType.Success]") {
		showModalAlert(title, message, "@messageTypeIcons[MessageType.Success]");
	}

	function showInformationMessage(message, title = "@defaultTypeTitles[MessageType.Information]") {
		showModalAlert(title, message, "@messageTypeIcons[MessageType.Information]");
	}

	function showWarningMessage(message, title = "@defaultTypeTitles[MessageType.Warning]") {
		showModalAlert(title, message, "@messageTypeIcons[MessageType.Warning]");
	}

	function showErrorMessage(message, title = "@defaultTypeTitles[MessageType.Error]") {
		showModalAlert(title, message, "@messageTypeIcons[MessageType.Error]");
	}

	window.showSuccessMessage = showSuccessMessage;
	window.showInformationMessage = showInformationMessage;
	window.showWarningMessage = showWarningMessage;
	window.showErrorMessage = showErrorMessage;
</script>
