<div class="form-check">
	<input id="@Id"
		   type="checkbox"
		   class="@InputClass"
		   checked="@Value"
		   @onchange="OnChange"
		   required="@Required" />

	<label for="@Id" class="form-check-label">
		@Label
		@if (Required)
		{
			<span class="text-danger">*</span>
		}
	</label>
</div>

@code {
	[Parameter] public string Label { get; set; } = "Checkbox Label";
	[Parameter] public string Id { get; set; } = Guid.NewGuid().ToString();

	// Bootstrap default
	[Parameter] public string InputClass { get; set; } = "form-check-input";

	[Parameter] public bool Required { get; set; } = false;

	[Parameter] public bool Value { get; set; }
	[Parameter] public EventCallback<bool> ValueChanged { get; set; }

	private async Task OnChange(ChangeEventArgs e)
	{
		Value = e.Value is bool b && b;
		await ValueChanged.InvokeAsync(Value);
	}
}