@using WebClient.Components.Shared.Elements
<p>FORMS</p>
<div class="row">

	<div class="col-4">
		<IUButton Text="Entrar" />
	</div>

	<div class="col-4">
		<IUInputText Label="Company Name"
					 Placeholder="Enter your company"
					 @bind-Value="companyName"
					 Required="true" />
		<p class="mt-2 text-sm text-gray-600">Valor: @companyName</p>
	</div>
	<div class="col-4">
		<IUInputNumeric Label="Value Price"
						Placeholder="Enter your company"
						@bind-Value="price"
						Required="true" />
		<p class="mt-2 text-sm text-gray-600">Valor: @price</p>
	</div>
	<div class="col-4">
		<IUSelect TItem="CountryModel"
				  TValue="string"
				  Label="Select a country"
				  Placeholder="Choose a country"
				  Options="@countryList"
				  GetText="@(c => c.Name)"
				  GetValue="@(c => c.Name)"
				  @bind-Value="selectedCountryCode"
				  Required="true" />

		<p class="mt-2 text-sm text-gray-600">Seleccionado: @selectedCountryCode</p>
	</div>
	<div class="col-4">
		<IUSelectFilterComponent TItem="CountryModel"
								 TValue="string"
								 Label="Select a country"
								 Placeholder="Choose a country"
								 Options="@countryList"
								 GetText="@(c => c.Name)"
								 GetValue="@(c => c.Name)"
								 @bind-Value="selectedFilterCountryCode"
								 Required="true" />

		<p class="mt-2 text-sm text-gray-600">Seleccionado: @selectedFilterCountryCode</p>
	</div>

	<div class="col-4">
		<IUTextArea Label="Your message"
					Placeholder="Write your thoughts here..."
					@bind-Value="message"
					Required="true" />

		<p class="mt-2 text-sm text-gray-600">Mensaje: @message</p>
	</div>

	<div class="col-4">
		<IUInputDate Label="Select a date"
					 @bind-Value="selectedDate"
					 Required="true" />

		<p class="mt-2 text-sm text-gray-600">Fecha seleccionada: @selectedDate?.ToString("yyyy-MM-dd")</p>

	</div>

	<div class="col-4">
		<IUInputTime Label="Select a time"
					 @bind-Value="selectedTime"
					 Required="true" />

		<p class="mt-2 text-sm text-gray-600">Hora seleccionada: @selectedTime?.ToString("HH:mm")</p>

	</div>

	<div class="col-4">
		<IUInputCheckbox Label="Accept terms and conditions"
						 @bind-Value="isChecked"
						 Required="true" />

		<p class="mt-2 text-sm text-gray-600">Checkbox está marcado: @isChecked</p>
	</div>

	<div class="col-4">
		<IUInputRadio Label="Option 1"
					  Name="group1"
					  Value="1"
					  @bind-IsSelected="isSelected1" />

		<IUInputRadio Label="Option 2"
					  Name="group1"
					  Value="2"
					  @bind-IsSelected="isSelected2" />

		<p class="mt-2 text-sm text-gray-600">Option 1 seleccionado: @isSelected1</p>
		<p class="mt-2 text-sm text-gray-600">Option 2 seleccionado: @isSelected2</p>
	</div>
</div>

@code {
	private string companyName = "";
	private long price;
	private string selectedCountryCode = "";
	private string? selectedFilterCountryCode = "";
	private string message = "";
	private DateTime? selectedDate;
	private TimeSpan? selectedTime;
	private bool isChecked = false;  // Valor inicial del checkbox
	private bool isSelected1 = false;
	private bool isSelected2 = false;


	private List<CountryModel> countryList = new()
	{
		new CountryModel { Code = "US", Name = "United States" },
		new CountryModel { Code = "CA", Name = "Canada" },
		new CountryModel { Code = "FR", Name = "France" },
		new CountryModel { Code = "DE", Name = "Germany" }
	};

	public class CountryModel
	{
		public string Code { get; set; }
		public string Name { get; set; }
	}
}
